<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<br/>
<h1>Users Table CRUD:</h1>
<br/>

<!--<table>-->
<!--    <tr>-->
<!--        <th>Id</th>-->
<!--        <th>Name</th>-->
<!--        <th>Age</th>-->
<!--        <th>Salary</th>-->
<!--        <th>Edit</th>-->
<!--        <th>Delete</th>-->
<!--    </tr>-->
<!--    <tr th:each="user : ${listUsers}">-->
<!--        <td th:text="${user.id}"></td>-->
<!--        <td th:text="${user.name}"></td>-->
<!--        <td th:text="${user.age}"></td>-->
<!--        <td th:text="${user.salary}"></td>-->
<!--        <td><a th:href="@{/edit/${user.id}}">Edit</a></td>-->
<!--        <td><a th:href="@{/remove/${user.id}}">Delete</a></td>-->
<!--    </tr>-->
<!--</table>-->

</body>
</html>