<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
<h1>Users list:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{/edit(id=${user.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/remove(id=${user.id})}">Remove</a>
        </td>
    </tr>
</table>

<h2>Add New User</h2>
<form th:action="@{/add}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" placeholder="Enter username"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" placeholder="Enter email"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
